body{
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
    margin-top: 50px;
}

.quiz-container{
    background: white;
    width: 400px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1{
    color: #333;
}

.question{
    margin: 15px 0;
}

input{
    padding: 8px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid gray;
}

button{
    padding: 10px 18px;
    margin: 10px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

button:hover{
    background: #0056b3;
}

.reset{
    background: crimson;
}

.reset:hover{
    background: darkred;
}

#result{
    margin-top: 20px;
    font-size: 20px;
    color: darkgreen;
}
